body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background-image:url('camouflage_pb.png');
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:26px auto 0 auto;
width:400px;
padding:14px;

}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px Gray;
background:LightGray;
}
#stylized h1 {
font-size:18px;
font-weight:bold;
margin-bottom:12px;
text-align:center;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
margin-right:15px;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}

#stylized button{
clear:both;
float:right;

width:80px;
height:25px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:Black;
font-size:11px;
font-weight:bold;

}